<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <test name="All Test Suite">
        <classes>
            <class name="pageObjects.booking.CarRentalPageTest" />
            <class name="pageObjects.booking.DetailPageTest" />
            <class name="pageObjects.booking.HomePageTest" />
            <class name="pageObjects.booking.RegistrationPageTest" />
            <class name="pageObjects.booking.SearchResultPageTest" />
            <class name="pageObjects.booking.BookingPageTest" />
            <class name="pageObjects.booking.LeisureSearchPageTest" />
        </classes>
    </test>
</suite>